<div class="myDiv">
  <h1>
    The most common documents' templates
  </h1>
  <hr>
  <ul>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1eFD5EaZbREUg-DrL49CsWPnxRgDiCqKr">
        akt-medosved
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=193ppoSJGFTE_Nep8_RxnKiB_6JoFA5Ub">
        akt-vezvrata-po-zaimu
      </a>
      </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=16bm8lCUGSlS0j0Mpe0w6epFj3yXp-3GL">
        akt-dareniya
      </a>
    </li>
  </ul>
</div>
