token.signing.key=YOUR_TOKEN_SIGNING_KEY

spring.datasource.hikari.connectionTimeout=20000
spring.datasource.hikari.maximumPoolSize=5

## PostgreSQL
spring.datasource.url=jdbc:postgresql://localhost:6789/DB_NAME
spring.datasource.username=
spring.datasource.password=