<div class="myDiv">
  <div class="space-y-4">
    <a class="btn btn-lg" href="/home">
      Home
    </a>
    <a class="btn btn-lg" href="/posts">
      Posts
    </a>
    <a class="btn btn-lg" href="/dialogs">
      Dialogs
    </a>
    <a class="btn btn-lg" href="/documents">
      Documents
    </a>
    <a class="btn btn-lg" href="/users/me">
      My Profile
    </a>
    <a class="btn btn-lg" href="/serviceoffers/incoming">
      Service offers
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
